.button-body {
    background: #666;
    color: #e2e2e2;
    font-weight: 600;
    font-size: large;

    /* border: 1px solid #333; */
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-body:focus {
    outline: none;
}