.buttons-container {
    width: 95%;
    height: 320px;

    /* background: #fff; */
    
    display: grid;
    gap: 15px 15px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
            'multiply   divide   subtract    add'
            'seven      eight    nine        equal'
            'four       five     six         equal'
            'one        two      three       equal'
            'zero       decimal  clear       equal';
}