.calculator-body {
    background: #353535;
    width: 400px;
    height: 500px;

    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    border: 1px solid #999;
    box-shadow: 3px 3px 8px 0px #6e6e6e;
}