@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');

.display-screen {
    background: rgb(173, 211, 126);
    border: 1px solid #555;
    border-radius: 5px;
    
    width: 95%;
    height: 90px;
    padding: 5px;

    color: rgb(73, 92, 54);
    /* font-size: 36px; */
    font-family: 'Hind', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row {
    /* background: #999; */
    width: 100%;
    height: 40%;

    font-size: 22px;
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.second-row {
    /* background: #222; */
    width: 100%;
    height: 60%;

    font-size: 36px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}